body,*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.main-container{
	background-image: url(/images/bg_login.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.main-body{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
}
.logo-login img{
	float: none;
    margin: 0 auto;
    display: block;
    width: 100%;
}
.form-login{
	left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
.submit-login{
	background-color: #e89e35;
	float: none;
	margin: 0 auto;
	display: block;
	padding: 10px 0;
}
.submit-login:hover{
	background-color: #af6805;
}
.submit-login i{
	color: #fff;
	font-size: 24px;
}
.tile-login{
	position: relative;
	padding: 20px 0;
}
.tile-login p{
	text-align: center;
    color: #fff;
    opacity: 0.7;
    font-weight: 400;
}
.tile-login p:after{
	color: #fff;
    display: block;
    content: "";
    position: absolute;
    top: 45%;
    width: 25%;
    height: 1px;
    background: white;
    opacity: 0.3;
}
.tile-login p:before{
	color: #fff;
    display: block;
    content: "";
    position: absolute;
    top: 45%;
    width: 25%;
    height: 1px;
    background: white;
    right: 0;
    opacity: 0.3;
}
.title-bottom{
	position: absolute;
	bottom: 10px;
	float: none;
	margin: 0 auto;
	width: 100%;
	left: 50%;
    bottom: 0px;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
.title-bottom p{
	color: #fff;
	text-align: center;
}
.title-bottom h6{
	color: #fff;
	text-align: center;
}
.item-title-bottom{
	color:  #e89e35;
}
.no-margin-bottom
{
	margin-bottom: 0px !important;
}